body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    text-align: center;
    background-color: rgba(35, 35, 51, 0.582);
    margin: 20px 500px;
    color: white;

}

.form h3 {
    
}

.form {
    padding: 15px;
}

.all {
    padding: 10px;
    margin-top: -20px;
}

#one {
    margin: 5px auto;
    padding: 10px;
    height: 25px;

   
}

input {
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border-bottom: 1.5px solid yellow !important;
    /* border-right: none;
    border-left: none;
    border-top: none; */
    width: 250px;
    border: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.61);
}

.card h3 {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

.button {
    border: none;
    background-color: white;
    border-radius: 20px;
    width:100px;
    height: 40px;
    color: black;
    padding: 10px 20px 15px 20px;
    text-align: center;
    margin-top: 10px;
    border: 1.5px solid yellow;
}

.para p {
    color: blue;
}

.signin {
    color: yellow;
    background-color: transparent;
    border: none;
}


 